extends layout

block content
  h1= title
  p Please craft your comment below

  a(href="/") Back to Message Board

  form(action='', method='POST')
    p
      | Username:
      input(type='text', name='username', value='')
    p
      | Comment:
      input.message(type='text', name='user_comment', value='', required)
      |
    input(type='submit', value='Submit')
