extends layout

block content
  h1= title
  p Please craft your message below

  a(href="/") Back to Message Board

  form(action='/new', method='POST')
    p
      | Username:
      input(type='text', name='username', value='')
    p
      | Message:
      input.message(type='text', name='message', value='', required)
      |
    input(type='submit', value='Submit')
