body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #FF865E;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: #995038;
}

h1, h5 {
  text-align: center;
}

.message {
  width: 50%;
}

.comment {
  color: green;
}

.comment:hover {
  color: #114611;
}

.comment-section {
  border-radius: 25px;
  padding: 2%;
  background-color: #A2D2FF;
}
