body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
  text-align: center;
}

h1, h5 {
  text-align: center;
}

.delete {
  text-align: right;
}

.delete:hover {
  color: red;
}

.message {
  width: 50%;
}
